<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290480982991-e7f523d6bncbh5k7ue3ktc0hcrd2s3lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290480982991-e7f523d6bncbh5k7ue3ktc0hcrd2s3lo</string>
	<key>API_KEY</key>
	<string>AIzaSyAd0IFGUm_oyFc2u6CuVz9zgXCNyZnM1BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>290480982991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.breesix.Breesix</string>
	<key>PROJECT_ID</key>
	<string>breesixapp</string>
	<key>STORAGE_BUCKET</key>
	<string>breesixapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290480982991:ios:bffa255ee9c3429c28a0ba</string>
</dict>
</plist>